///footrer Design
.footer{
    --gather: 16px;
    padding-top: 50px; 
    font-family: sans-serif!important;
    background: rgba(var(--secondary),0.9);
    @include respond('mbl-560'){
        font-size: 13px;
        --gather: 0px;
    }
    
    &-heading{
        color: rgba(var(--primary), 1);
        font-size: 18px;
        margin-bottom: 1.5rem;
        @include respond(){
            font-size: 14px;
            margin-bottom: 1rem;
        }
    }

    &-left{
		padding-bottom: 30px;
        padding-right: 100px;
		&-logo{
			img{
				height:40px;
			}
		}
		&-text{
            font-size: 16px;
            padding: 10px 0;
            color: rgba(var(--white),0.8);
		}
		&-call {
			color: rgba(var(--white),1);
			font-size: 16px;
			a {
				display: block;
				color: rgba(var(--primary),1);
				font-size: 18px;
				line-height: normal;
			}
		}
        @include respond('tab-944'){
            padding-right: 80px;
        }
        @include respond(){
            padding: 0;
        }
	}

    &-list{
        list-style: none;
        overflow: hidden;
        &-item{
            margin-bottom: 0.5rem;
            a{
                color: rgba(var(--white), 0.8);
            }
        }
    }
}
.copyright{
    margin-top:30px;
    padding: 20px 0;
    border-bottom:2px solid rgba(var(--primary), 1);
    background-color: rgba(var(--secondary), 1);
    text-align: center;
    &-text{
        color: rgba(var(--white),0.8);
    }
}
