.addSearchProduct{
    width: 100%;
    background: rgba(var(--black), 0.1);
    color: black;
    padding: 5px 10px;
    border-radius: 8px;
    input[type=text]{
        border:0;
        max-width: 100px;
    }
}
.selectedProduct{
    input[type=text]{
        border:0;
        max-width: 100px;
    }
    td{
        text-align: center;
    }
}