.footer{
    height:29px;
    overflow:hidden;
    background-color: rgb(49, 49, 49);
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(204, 204, 204);
    font-size: small;
}