/*
    Style fo header area
*/

// notification-
.notifi{
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-size: 1.4rem;
    &__list{
        justify-content: flex-end;
        &--item{
            cursor: pointer;
            &:not(:last-child){
                border-right: 0.1rem solid var(--primary-border-color);
            }
            &:hover{
                color: var(--secondary-text-color);
            }
            &-icon{
                font-size: smaller!important;
            }
            &-link{
                color: var(--secondary-);
                text-decoration: none;
                &:hover{
                    color: var(--color-white);
                }
            }
        }
    }
}

//menu bar for home, about, product, contact pages (*not blog page)
.headhme{
    height: 7rem;
    background-color: var(--color-white);
    color: var(--primary-text-color);
    font-size: 1.6rem;
    border-bottom: 1px solid var(--primary-border-color);
    &__list{
        height: 100%;
        @include respond('xlmbl'){
            justify-content: flex-end;
            position: relative;
        }
        &--item{
            align-self: center;
            &:first-child{
                @include respond('xlmbl'){
                    flex: 1 0 auto;
                }
            }
            &:nth-child(3){
                display: flex;
                @include respond('tab-752'){
                    position: absolute;
                    top:100%;
                    background-color: var(--primary-color);
                    padding: 1rem;
                    display: none;
                }
                
            }
            &-logo{
                height: 100%;
                padding: 0.8rem 1rem;
            }
            &-input{
                height: 4.2rem!important;
                width: 33rem!important;
                font-size: 1.8rem!important;
                border-top-right-radius: 0!important;
                border-bottom-right-radius: 0!important;
                border:1px solid var(--primary-color)!important;
                // border-top: 0!important;
                // border-bottom: 0!important;
                border-right: 0!important;
                @include respond('lmbl'){
                    width: 25rem!important;
                }
                &::placeholder{
                    font-size: 1.6rem!important;
                    font-weight: normal!important;
                    color: var(--primary-color)!important;
                }
                &:focus{
                    width:35rem!important;
                    @include respond('lmbl'){
                        width: 25rem!important;
                    }
                }
            }
            &-submit{
                height: 4.2rem!important;
                width: 5rem!important;
                border-top-left-radius: 0rem!important;
                border-bottom-left-radius: 0rem!important;
                background-color: rgba(var(--secondary-color), 0.2)!important;
                color: var(--primary-color);
                border: 1px solid var(--secondary-color);
                &:hover{
                    background-color: rgba(var(--primary-color), 0.3)!important;
                }
                i{
                    font-size: 2.2rem!important;
                }
            }
        }
    }
}

//hemu bar for blog page
.headblg{
    background-color: var(--primary-color);
    position: relative;
    &__list{
        @include respond('tab'){
            position: absolute;
            top: 100%;
            left: 0rem;
            width: 20rem;
            height: calc(100vh - 5rem);
            flex-direction: column;
            background: #777777;
            z-index: 999;
            align-items: flex-start;

            display: none;
        }
        &--item{
            &-link{
                padding: 1rem 1.4rem;
                @include respond('tab'){
                    padding: 0.5rem 1rem;
                    width: 20rem;
                }
                display: block;
                color: var(--color-white);
                text-decoration: none;
                &:hover{
                    background-color: var(--color-red);
                }
            }
        }
    }
}

//style for menu area
.menu{
    &__menu{
        @include respond('land', 'screen', 'min-width'){
            display: none;
        }
    }
    &__parent{
        flex:1 0 auto;
        @include respond('land'){
            text-align: right;
            position: relative;
        }
        @include respond('xlmbl'){
            flex: unset;
        }
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include respond('land'){
        position: absolute;
        top:4.5rem;
        right:0;
        width: 15rem;
        text-align: left;
        display: none;
    }
    &__list{
        align-self: stretch;
        @include respond('land'){
            flex-direction: column;
            align-items: flex-start;
            background-color: var(--primary-color);
            border: 1px solid #e8e8e8;
        }
        &--item{
            height: 100%;
            @include respond('land'){
                width: 100%;
            }
            &-link{
                display: inline-block;
                padding: 0.8rem 1.6rem;
                font-size: 2rem;
                text-decoration: none;
                color:var(--primary-color);
                @include respond('land'){
                    display: block;
                    padding: 0.5rem 0.8rem;
                    border-bottom: 1px solid var(--primary-color);
                }
                &:hover{
                    outline: none;
                    text-decoration: none;
                    color: var(--primary-color);
                }
            }
        }
    }
}

//when scroll this area are displayed
.inscroll{
    transition: all 0.2s linear;
    transform: translateY(-5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
    z-index:999;
    position: fixed;
    top:0;
    left:0;
    background-color: var(--primary-color);
    &__phone, &__login, &__signup{
        padding: 0 1rem;
        color: var(--primary-color);
        cursor: context-menu;
    }
    &__p_l_s{
        flex: 1 0 auto;
        justify-content: flex-end;
        @include respond('tab'){
            display: none!important;
        }
        &--link{
            color:rgba(var(--primary-color), 0.8);
            &:hover{
                color:rgba(var(--primary-color), 1);
            }
        }
    }
    &__logo{
        height: 100%;
        display: inline-block;
        &--img{
            height: 100%;
            padding: 0.2rem 1rem;
        }
    }
    &__search{
        height: 100%;
        display: flex;
        align-items: center;
        flex: 1 0 auto;
        @include respond('mbl'){
            display: none!important;
        }
        &--input{
            height: 3.2rem!important;
            width: 25rem!important;
            font-size: 1.4rem!important;
            border-top-right-radius: 0!important;
            border-bottom-right-radius: 0!important;
            border:1px solid var(--primary-color)!important;
            // border-top: 0!important;
            // border-bottom: 0!important;
            // background-color: rgba($secondary-color, 0.1)!important;
            border-right: 0!important;
            &::placeholder{
                font-size: 1.4rem!important;
                color:var(--primary-color)!important;
            }
        }
        &--submit{
            height: 3.2rem!important;
            width: 5rem!important;
            border-top-left-radius: 0rem!important;
            border-bottom-left-radius: 0rem!important;
            background-color: var(--primary-color);
            color:var(--primary-color);
            border: 1px solid var(--primary-color);
            &:hover{
                background-color: var(--primary-color);
            }
        }
    }
    &__menubar{
        position: relative;
        align-self: stretch;
        display: flex;
        align-items: center;
    }
    &__menu{
        position: absolute;
        top:100%;
        right:0;
        width: 15rem;
        display: none;
        background-color: var(--primary-color);
        &--list{
            border: 1px solid var(--primary-color);
            &-item{
                &:not(:last-child){
                    border-bottom: 1px solid var(--primary-color);
                }
                &_link{
                    color:var(--primary-color);
                    text-decoration: none;
                    font-size: 1.8rem;
                    padding: 0.5rem 0.8rem;
                    display: block;
                    border-radius: 0!important;
                }
            }
        }
    }
}

.link_active{
    border-radius: 1.4rem;
    background-color: var(--primary-color);
    color:var(--primary-color);
    @include respond('land'){
        border-radius: 0;
    }
}
.blgactive{
    background-color: var(--primary-color);
}