.select__box {
    position: relative;
    width:82%;
    height:100%;
    border:none;
    display: inline-block;

    &-select{
        display: none;
    }

    &-selected{
        color:rgba(0,0,0,0.7);
        font-size: 1.3rem;
        height:100%;
        padding:1rem 0.6rem;
        background-image: linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,0.9));
        color:#7e7e7e;
        &::after{
            position: absolute;
            content: "";
            top: 14px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #000 transparent transparent transparent;
        }
    }
    .select-hide {
        display: none;
    }
    .select-arrow-active:after {
        border-color: transparent transparent #000 transparent;
        top: 7px;
    }

    &-items{
        position: absolute;
        background-color:#fff;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        border: 1px solid rgba(0,0,0,0.4);
        div {
            color: #000;
            padding: 10px 16px;
            cursor: pointer;
            &:not(:last-child){
              border-bottom: 1px solid rgba(0,0,0,0.3);
            }
            &:hover{
                background-color: rgb(209, 209, 209);
            }
        }
    }
}