.nav{
    height: 6rem;
    overflow: hidden;
    background-color: rgb(43, 43, 43);
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items:center;
    &__logoArea{
        flex-basis: 50%;
        @include respond('lmbl'){
            order:1;
        }
        &-logo{
            letter-spacing: -2px;
            font-weight: 700;
            font-size:2.8rem;
            color:rgb(255, 255, 255);
            text-decoration: underline;
            margin: 0;
            padding:0;
            padding-left: 3rem;
            &::before{
                content: "<";
                font-size: 2.6rem;
                color:rgb(252, 55, 55);
            }
            &::after{
                content: ">";
                font-size: 2.6rem;
                color:rgb(252, 55, 55);
            }
        }
    }

    &__list{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
        @include respond('lmbl'){
            position: absolute;
            top:6rem;
            left:0;
            width: 10rem;
            height: 25rem;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 2rem;
            box-sizing: content-box;
            background-color: rgb(43, 43, 43);
            display: none;
        }
    }
    &__item{
        list-style-type: none;
        
    }
    
    &__link{
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
        color:rgba(255,255,255,0.8)!important;
        &:active, &:focus{
            color:rgba(255,255,255,0.8);
        }
        &:hover{
            color:rgba(255,255,255,1)!important;
        }
    }
}
.navIcon{
    color: rgba(255,255,255,1);
    padding: 0 10px;
}
.barCheckBox{
    display: none;
}
.barCheckBox:checked ~ .nav__list{
    display: flex;
    z-index: 100;
}









.navi{
    height: 100vh;
    width:18rem;
    display: inline-block;
    float: left;
    transition: all 0.15s linear;
    background-color: #ffffff;
    border-right: 1px solid rgba(0,0,0,0.08);
    box-shadow: 5px 0 8px rgba(0,0,0,0.05);
    &__list{
        height:100%;
        width:100%;
        margin:0;
        padding:0;
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        justify-content: flex-start;
        box-sizing: border-box;
        overflow: hidden;
        &_break{
            &-1{
                margin: 1.5rem 0;
                width: 100%;
                border: 0;
                border-bottom: 1px solid rgba(0,0,0,0.1);
            }
            &-2{
                width: 100%;
                border: 0;
                border-bottom: 2px solid rgba(0,0,0,0.1);
            }
        }
    }
    &__item{
        width: 100%;
        position: relative;
        list-style-type:none;
        &:first-child{
            padding: 1.2rem 0;
        }
        &:last-child{
            i{
                font-size: 1.6rem!important;
            }
        }
        &--link{
            padding: 1rem 1.5rem;
            font-size:1.4rem;
            line-height: 1.4rem;
            color:rgb(129, 129, 129)!important;
            display:flex;
            align-items:center;
            text-decoration: none;
            &_img{
                height:1.8rem;
                width:1.8rem;
            }
            &_span{
                padding-left:1rem;
            }
            border-left: 3px solid transparent;
            &:hover{
                background-color: #fff9fc;
                border-left: 3px solid #ff6a6a;
            }
        }

        .naviDropFill{
            display: none;
        }

        .naviDropLavel{
            padding: 1rem 1.5rem;
            font-size:1.4rem;
            line-height: 1.4rem;
            color:rgb(129, 129, 129)!important;
            display:flex;
            align-items:center;
            text-decoration: none;
            position: relative;
            border-left:3px solid transparent;
            &:hover{
                background-color: #fff9fc;
                border-left:3px solid #ff6a6a;
            }
            &__img{
                height:1.8rem;
                width:1.8rem;
                font-size: 1.8rem!important;
            }
            &__text{
                padding-left:1rem;
            }
            &__dropIcon{
                position: absolute;
                right:1rem;
                transition: all linear 0s;
                border: 0.5rem solid transparent;
                border-color: rgb(170, 170, 170) transparent transparent transparent;
            }
        }
        input[class="naviDropFill"]:checked ~ ul{
            display: block!important;
        }
        input[class="naviDropFill"]:checked ~ .naviDropLavel{
            border-left:3px solid #ff6a6a;
            background-color: #fff9fc;
        }
        input[class="naviDropFill"]:checked ~ .naviDropLavel .naviDropLavel__dropIcon{
            border: 0.5rem solid transparent;
            border-color: transparent transparent rgb(170, 170, 170) transparent;
        }
        

        &-childList{
            display: none;
            transition: all linear 1s;
            background-color: #fff9fc;
            padding-left: 1rem;
        }
        &-childItem{
            width: 100%;
            position: relative;
            list-style-type:none;
            border-bottom: 1px solid rgba(0,0,0,0.03);
            
        }
        &-childLink{
            padding: 1rem;
            font-size:1.4rem;
            line-height: 1.4rem;
            color:rgb(129, 129, 129)!important;
            display:flex;
            align-items:center;
            text-decoration: none;
            &-img{
                height:1.8rem;
                width:1.8rem;
                font-size: 1.8rem;
                color: rgba(0,0,0,0.3);
            }
            span{
                padding-left:1rem;
            }
        }
    }
}

.dbordHead{
    font-size: 3.4rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: block;
    color: #e74c3c;
    font-family: 'Surfez';
    span{
        color: #cf3625;
        letter-spacing: -3px;
    }
}
.navi_active{
    background-color: #fff9fc;
    border-left: 3px solid #ff6a6a;
}



.contain_area{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: #f0f0f0;
}
.mainArea{
    width: calc(100% - 18rem);
    float: left;
    padding: 0 2rem;
    @include respond('lmbl'){
        padding: 0 0.5rem;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: transparent;
    transition: all 0.15s linear;
    &__head{
        height: 8rem;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-heading{
            font-weight: 400;
            font-size: 2.6rem;
            text-transform: capitalize;
            line-height: normal;
            color: rgba(0,0,0,0.7);
        }
        &-location{
            font-size: 1.2rem;
            color: rgba(0,0,0,0.4);
            a{
                text-decoration: none;
                color: rgba(0,0,0,0.6);
                &:hover{
                    color: rgba(0,0,0,1);
                }
            }
        }
    }
    .post{
        background-color: #fff;
        padding: 2rem;
        &__heading{
            font-size: 3.2rem;
            line-height: normal;
            margin-bottom: 2rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            color: $txt-color-5;
            @include respond('lmbl'){
                font-size: 2.6rem;
            }
        }
        &__ifrem{
            width: 100%;
            @include respond(){
                height: auto;
            }
        }
        p{
            font-size: 2rem;
            color: rgba(0,0,0,0.7);
        }
    }
}